$bgImgTitulo: (
    /* Imágenes ancho 600px */
    index600: url(../images/fondoLlamada600.jpg),
    acercaDe600: url(../images/fondoAcercaDe600.jpg),
    eventos600: url(../images/fondoEventos600.jpg),
    tienda600: url(../images/fondoTienda600.jpg),
    unirse600: url(../images/fondoUnirse600.jpg),

    /* Imágenes ancho 1024px */
    index1024: url(../images/fondoLlamada1024.jpg),
    acercaDe1024: url(../images/fondoAcercaDe1024.jpg),
    eventos1024: url(../images/fondoEventos1024.jpg),
    tienda1024: url(../images/fondoTienda1024.jpg),
    unirse1024: url(../images/fondoUnirse1024.jpg),

    /* Imágenes ancho 1320px */
    index1320: url(../images/fondoLlamada1320.jpg),
    acercaDe1320: url(../images/fondoAcercaDe1320.jpg),
    eventos1320: url(../images/fondoEventos1320.jpg),
    tienda1320: url(../images/fondoTienda1320.jpg),
    unirse1320: url(../images/fondoUnirse1320.jpg)
)