$colorPrincipal: rgb(46, 116, 116);
$colorPrincipalHover: rgb(38, 95, 95);
$colorPrincipalOpacidad: rgba(46, 116, 116, 0.6);
$blancoHover: #e4e4e4;

$fuenteTitulos: 'Bebas Neue', cursive;
$fuenteParrafos: 'Albert Sans', sans-serif;