@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&family=Bebas+Neue&display=swap');
@import "variables.scss";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Bootstap */

a {
    color: $colorPrincipal !important;
    text-decoration: none !important;
    
    &:hover {
        color: $colorPrincipal !important;
    }
}

.nav-link {
    padding: 15px !important;
    padding-top: 6px !important;
    padding-bottom: 4px !important;

    &.active {
        color: white !important;
        background-color: $colorPrincipal !important;
    }
}
    

.btn-outline-secondary {
    color: $colorPrincipal !important;
    border-color: $colorPrincipal !important;
    font-family: $fuenteTitulos !important;
    font-size: 1.5rem !important;
    
    &:hover {
        color: #fff !important;
        background-color: $colorPrincipal !important;
        border-color: $colorPrincipal !important;
    }
}

.btn-primary {
    color: white !important;
    border-color: $colorPrincipal !important;
    font-family: $fuenteTitulos !important;
    font-size: 1.5rem !important;
    background-color: $colorPrincipal !important;
    
    &:hover {
        color: #fff !important;
        background-color: $colorPrincipal !important;
        border-color: $colorPrincipal !important;
    }
}

/* General */

body {
    color: rgb(53, 53, 53);
    background-image: linear-gradient(to top, #c7e7e7,  #f6f6f6);
    background-attachment: fixed;
}


h1 {
    font-family: $fuenteTitulos;
    font-size: 3rem;
}

h2 {
    font-family: $fuenteTitulos;
    font-size: 2rem;
}

h3 {
    font-family: $fuenteTitulos;
    font-size: 1.5rem;
}

h4 {
    font-family: $fuenteTitulos;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

p {
    font-family: $fuenteParrafos;
}

.menu {

    li{
        font-family: $fuenteTitulos;
        font-size: 1.2rem ;
        padding: 4px ;
        text-align: center ;
    }
}

.logo img{
    width: 80px;
}

footer {
    text-align: center;
    font-size: 0.7rem;
    padding-top: 10px;
    line-height: 15px;
    background-color: $colorPrincipal;
    color: #fff;
    
    a {
        color: #fff !important;
        
        &:hover {
            text-decoration: underline !important;
            text-decoration-style: dotted !important;
            color: #fff !important;
        }
    }
    
     li {
        list-style:none;
        display:inline-block;
        padding-left: 10px;
        padding-right: 10px;
        font-family: $fuenteParrafos;
        font-size: 0.8rem;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    img {
        width: 30px;
        margin: 10px;
        margin-top: 20px;
        margin-bottom: 17px;
        transition: transform 0.5s ease;
        
        &:hover {
            transform: rotate(-30deg);
            transition: transform 0.5s ease;
        }
    }
}


.whatsapp {
    right: -70px;
    bottom: 10px;
    border-radius: 50px;
    background-color: rgba(46, 116, 116, 0.8);
    position: fixed;
    width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: transform 0.1s ease;
    
    &:hover {
        transform: translateX(-80px);
        transition: transform 0.3s ease;
    }
    
    img {
        margin: 0;
    }
    
    p {
        font-weight: bolder;
        font-size: 0.8rem;
        position: relative;
        top: 8px;
    }
}

.whatsappFooter {
    display: none;
}

.tituloPaginas {
    height: 400px;
    background-position: center;
    background-size: cover;
    padding: 3%;
}

.parrafo {
    padding: 3%;
}

.textoDestacado {
    color: $colorPrincipal;
    font-weight: bold;
}

.centrar {
    text-align: center;
}

.llamada {
    background-size: cover;
    background-position: center;
    height: 500px;
    color: #fff;
    padding: 3%;
    font-size: 1.6rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.zoom {
    transition: transform 0.9s ease, opacity 0.9s ease;
    
    &:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease, opacity 0.3s ease;
        opacity: 0.8;
    }
}

/* Exclusivo Portada */

.llamada__index {
    background-image: linear-gradient(to top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 60%, rgba(0,0,0,0.8) 100%), url(../images/fondoLlamada.jpg);
    margin-top: -120px !important;
}

.contenidoPortada {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    gap: 10%;
}

.alfaPortada {
    height: 300px;
    margin-right: 10%;
    transform: translateY(-10%);
}

.textoPortada {
    margin-top: 20px;
    margin-left: 10%;
}

/* Exclusivo Acerca De */

.tituloPaginas__acercaDe {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7) 0%, rgba(0,0,0,0) 50%), url(../images/fondoAcercaDe.jpg);
}

/* Exclusivo Eventos */

.tituloPaginas__eventos {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8) 0%, rgba(0,0,0,0) 60%), url(../images/fondoEventos.jpg);
}

.evento {
    transition: all 0.8s ease;
    background-color: rgba(255, 255, 255, 0.8);
    
    &:hover {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        transition: all 0.3s ease;
        background-color: #fff;
    }
}

.evento__fecha {
    text-align: center;
    line-height: 0px;
    max-width: 100px;
    min-width: 100px;
    margin-top: 8px;
}

.evento__detalles {

    font-size: small;
    font-weight: bold;
    min-width: 150px;
    
    i{
        color: $colorPrincipal;
    }
    
    li{
        padding-bottom: 0px;
    }
}

.mapa {
    border-radius: 10px;
}

/* Exclusivo Tienda */

.tituloPaginas__tienda {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8) 0%, rgba(0,0,0,0) 60%), url(../images/fondoTienda.jpg);
}

.tarjetaProductoHijo {
    display: none ;
    opacity: 0 ;
    transition: opacity 0.5s ease;
}

.tarjetaProductoPadre {

    &:hover .tarjetaProductoHijo {
        display: block;
        opacity: 1;
        transition: opacity 0.5s ease;
    }
    
    &:hover .card-img-top {
        opacity: 0.5;
        transition: opacity 0.1s ease;
    }
}

.card-img-top {
    transition: opacity 0.5s ease;
}

/* Exclusivo Unirse */

.tituloPaginas__unirse {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8) 0%, rgba(0,0,0,0) 80%), url(../images/fondoUnirse.jpg);
}

.formImagenBs {
    background-image: url(../images/alfaFormulario.jpg);
    background-size: cover;
    min-height: 400px;
    border-radius: 10px;
}

/* Media Querys */

@media screen and (max-width: 1024px) {
    .llamada {
        font-size: 1.4rem;
    }

    /* Portada */

    .alfaPortada {
        margin-right: 0;
        transform: translateY(0);
    }
    .textoPortada {
        margin-left: 0;
    }

    /* Acerca De */

    .tituloPaginas__acercaDe {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(0,0,0,0) 50%), url(../images/fondoAcercaDe.jpg);
    }



    /* Eventos */

    .tituloPaginas__eventos {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(0,0,0,0) 60%), url(../images/fondoEventos.jpg);
    }

    /* Tienda */

    .tituloPaginas__tienda {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(0,0,0,0) 60%), url(../images/fondoTienda.jpg);
    }

    /* Unirse */

    .tituloPaginas__unirse {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(0,0,0,0) 80%), url(../images/fondoUnirse.jpg);
    }
}

@media screen and (max-width: 600px) {

    .tituloPaginas {
        height: 300px;
    }

    footer {

        li {
            font-size: 0.7rem;
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .llamada {
        font-size: 1.2rem;
    }

    .whatsapp {
        display: none;
    }

    .whatsappFooter {
        display:initial;
    }

    /* Portada */

    .llamada__index {
        margin-top: 0;
    }

    .alfaPortada {
        display: none;
    }

}